In [1]:
#Importing the dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# Loading the dataset into a pandas dataframe
credit_card_data=pd.read_csv("creditcard.csv")

In [4]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
credit_card_data.shape

(284807, 31)

In [6]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
# distribution of legit transaction and fraud transaction
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This dataset is highly unbalanced
0-->Normal Transaction
1-->Fraudulent Transaction

In [10]:
# Seperating the data for analysis
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [12]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [13]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
## Compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling  -----(balancing data)
build a sample dataset containing similar distribution of normal and fraudulent transaction

number of fraud transactions--->492

In [16]:
legit_sample=legit.sample(n=492)

concatenating two dataframes

In [18]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [19]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
145926,87290.0,1.767868,-0.435820,-2.115079,0.443076,0.255140,-0.773162,0.287287,-0.239960,1.099201,...,-0.208903,-0.684346,-0.034618,-0.903437,-0.044158,-0.053650,-0.033633,-0.000226,163.18,0
257672,158286.0,1.029538,-1.249328,-0.299863,3.602849,0.200615,3.036446,-0.760165,0.875210,-0.255521,...,0.345580,0.201336,0.049773,-1.017683,-0.832683,-0.120576,-0.003010,0.020101,369.12,0
223078,143238.0,-0.905777,1.242481,-0.716030,-0.646550,0.479189,-0.939751,0.273707,0.552560,-0.567054,...,0.407173,0.937074,-0.300562,0.729079,0.234039,-0.196718,-0.288665,-0.142388,1.79,0
2526,2095.0,1.228746,-0.664689,0.449717,-1.418090,-0.928752,-0.404417,-0.568837,-0.056049,1.892498,...,0.098035,0.468654,-0.263024,-0.347087,0.600967,0.158064,0.038708,0.025611,56.75,0
104969,69312.0,-1.639405,0.509794,1.058672,0.347607,-0.047585,-0.412898,0.875023,0.475409,-0.772401,...,0.016643,-0.466743,0.238819,0.021971,0.629386,-0.573817,0.055115,-0.085727,168.98,0

In [20]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [21]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94001.747967,-0.138785,0.064037,0.005457,0.038874,0.015485,0.037312,0.055952,0.039996,-0.033142,...,0.050901,-0.016908,-0.025076,0.039062,-0.062124,0.000086,0.013753,0.000627,-0.000499,99.248801
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into features and target

In [22]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [23]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
145926   87290.0  1.767868 -0.435820 -2.115079  0.443076  0.255140 -0.773162
257672  158286.0  1.029538 -1.249328 -0.299863  3.602849  0.200615  3.036446
223078  143238.0 -0.905777  1.242481 -0.716030 -0.646550  0.479189 -0.939751
2526      2095.0  1.228746 -0.664689  0.449717 -1.418090 -0.928752 -0.404417
104969   69312.0 -1.639405  0.509794  1.058672  0.347607 -0.047585 -0.412898
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
145926  0.287287 -0.239960  1.099201  ...  0.129108 -0.208903 -0.684346
257672 -0.760165  0.875210 -0.255521  ...  0.366483  0.345580  0.201336
223078  0.273707  0.552560 -0.567054  ... -0.339281  0.407173  0.937074
2526   -0.568837 -0.056049  1.892498  ...  0.096018  0.098035  0.468654
104969  0.875023  0.475409 -0.772401  ...  0.361552  0.016643 -0.466743
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
145926 -0.034618 -0.903437 -0.044158 -0.053650 -0.033633 -0.000226  163.18
257672  0.049773 -1.017683 -0.832683 -0.120576 -0.003010  0.020101  369.12
223078 -0.300562  0.729079  0.234039 -0.196718 -0.288665 -0.142388    1.79
2526   -0.263024 -0.347087  0.600967  0.158064  0.038708  0.025611   56.75
104969  0.238819  0.021971  0.629386 -0.573817  0.055115 -0.085727  168.98
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [24]:
Y

145926    0
257672    0
223078    0
2526      0
104969    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into training and testing data

In [26]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [28]:
print(X.shape, X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

In [31]:
model=LogisticRegression(max_iter=1000)

In [32]:
# training the logistic regression model with training data
model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

Model Evaluation
-accuracy score

In [34]:
# accuracy on training data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [36]:
print("Accuracy on training data:",training_data_accuracy)

Accuracy on training data: 0.9390088945362135

In [37]:
#accuracy on test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [38]:
print("Accuracy on test data:",test_data_accuracy)

Accuracy on test data: 0.9187817258883249